.carousel-status {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  color: white;
  font-size: 1.25rem !important;
  text-shadow: none !important;
  top: inherit !important;
  bottom: 3.75rem !important;
  right: 5rem !important;
}
