@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fdfcfe;
  font-family: 'Public Sans';
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-width: none;
  -ms-overflow-style: none;
  font-display: swap;
}

body::-webkit-scrollbar {
  display: none;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1800px) {
  html {
    font-size: 14px !important;
  }
}

@media screen and (max-width: 1680px) {
  html {
    font-size: 12px !important;
  }
}

@media screen and (max-width: 1440px) {
  html {
    font-size: 10px !important;
  }
}

.simplebar-track.simplebar-vertical {
  background-color: #d6d6de;
  border-radius: 20px;
  transition: opacity 0s linear, left 0.2s ease-in-out;
  /* width: 8px !important; 스크롤바의 색상을 변경합니다. */
}

.simplebar-scrollbar::before {
  background-color: rgb(255, 255, 255) !important;
  opacity: 1 !important;
  box-shadow: 0px 1px 4px 0px #ababb4;
}

.simplebar-track .simplebar-scrollbar::before {
  border-radius: 5px; /* 스크롤바의 모서리를 둥글게 만듭니다. */
}

@layer components {
  /* Chrome, Edge, and Safari */
  ::-webkit-scrollbar {
    width: 16px;
  }

  ::-webkit-scrollbar-track {
    background: #f0f0f0;
  }

  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
    border: 4px solid #f0f0f0;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  /* Firefox */
  body {
    scrollbar-width: thin;
    scrollbar-color: #888 #f0f0f0;
  }
}

/* 100 Thin */
@font-face {
  font-family: 'Apple-SDG';
  src: url('./assets/fonts/subset-AppleSDGothicNeoT.woff2') format('woff2');
  font-weight: 100;
  font-display: swap;
}
/* 200 Ulta Light */
@font-face {
  font-family: 'Apple-SDG';
  src: url('./assets/fonts/subset-AppleSDGothicNeoUL.woff2') format('woff2');
  font-weight: 200;
  font-display: swap;
}
/* 300 Light */
@font-face {
  font-family: 'Apple-SDG';
  src: url('./assets/fonts/subset-AppleSDGothicNeoL.woff2') format('woff2');
  font-weight: 300;
  font-display: swap;
}
/* 400 Regular */
@font-face {
  font-family: 'Apple-SDG';
  src: url('./assets/fonts/subset-AppleSDGothicNeoR.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}
/* 500 Medium */
@font-face {
  font-family: 'Apple-SDG';
  src: url('./assets/fonts/subset-AppleSDGothicNeoM.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
}
/* 600 Semi Bold */
@font-face {
  font-family: 'Apple-SDG';
  src: url('./assets/fonts/subset-AppleSDGothicNeoSB.woff2') format('woff2');
  font-weight: 600;
  font-display: swap;
}
/* 700 Bold */
@font-face {
  font-family: 'Apple-SDG';
  src: url('./assets/fonts/subset-AppleSDGothicNeoB.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}
/* 800 Extra Bold */
@font-face {
  font-family: 'Apple-SDG';
  src: url('./assets/fonts/subset-AppleSDGothicNeoEB.woff2') format('woff2');
  font-weight: 800;
  font-display: swap;
}
/* 900 Heavy */
@font-face {
  font-family: 'Apple-SDG';
  src: url('./assets/fonts/subset-AppleSDGothicNeoH.woff2') format('woff2');
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: 'LINESeedKR';
  src: url('./assets/fonts/subset-LINESeedSansKR-Thin.woff2') format('woff2');
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: 'LINESeedKR';
  src: url('./assets/fonts/subset-LINESeedSansKR-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'LINESeedKR';
  src: url('./assets/fonts/subset-LINESeedSansKR-Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}

/* 100 Thin */
@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/subset-Poppins-Thin.woff2') format('woff2');
  font-weight: 100;
  font-display: swap;
}
/* 200 Ulta Light */
@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/subset-Poppins-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-display: swap;
}
/* 300 Light */
@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/subset-Poppins-Light.woff2') format('woff2');
  font-weight: 300;
  font-display: swap;
}
/* 400 Regular */
@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/subset-Poppins-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}
/* 500 Medium */
@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/subset-Poppins-Medium.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
}
/* 600 Semi Bold */
@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/subset-Poppins-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-display: swap;
}
/* 700 Bold */
@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/subset-Poppins-Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}
/* 800 Extra Bold */
@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/subset-Poppins-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-display: swap;
}
/* 900 Heavy */
@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/subset-Poppins-Black.woff2') format('woff2');
  font-weight: 900;
  font-display: swap;
}
