@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fdfcfe;
  font-family: 'Public Sans';
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1800px) {
  html {
    font-size: 14px !important;
  }
}

@media screen and (max-width: 1680px) {
  html {
    font-size: 12px !important;
  }
}

@media screen and (max-width: 1440px) {
  html {
    font-size: 10px !important;
  }
}

.simplebar-track.simplebar-vertical {
  background-color: #d6d6de;
  border-radius: 20px;
  transition: opacity 0s linear, left 0.2s ease-in-out;
  /* width: 8px !important; 스크롤바의 색상을 변경합니다. */
}

.simplebar-scrollbar::before {
  background-color: rgb(255, 255, 255) !important;
  opacity: 1 !important;
  box-shadow: 0px 1px 4px 0px #ababb4;
}

.simplebar-track .simplebar-scrollbar::before {
  border-radius: 5px; /* 스크롤바의 모서리를 둥글게 만듭니다. */
}

@layer components {
  /* Chrome, Edge, and Safari */
  ::-webkit-scrollbar {
    width: 16px;
  }

  ::-webkit-scrollbar-track {
    background: #f0f0f0;
  }

  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
    border: 4px solid #f0f0f0;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  /* Firefox */
  body {
    scrollbar-width: thin;
    scrollbar-color: #888 #f0f0f0;
  }
}

/* 100 Thin */
@font-face {
  font-family: 'Apple-SDG';
  font-style: normal;
  src: url('./assets/fonts/AppleSDGothicNeoT.ttf');
  font-weight: 100;
}
/* 200 Ulta Light */
@font-face {
  font-family: 'Apple-SDG';
  font-style: normal;
  src: url('./assets/fonts/AppleSDGothicNeoUL.ttf');
  font-weight: 200;
}
/* 300 Light */
@font-face {
  font-family: 'Apple-SDG';
  font-style: normal;
  src: url('./assets/fonts/AppleSDGothicNeoL.ttf');
  font-weight: 300;
}
/* 400 Regular */
@font-face {
  font-family: 'Apple-SDG';
  font-style: normal;
  src: url('./assets/fonts/AppleSDGothicNeoR.ttf');
  font-weight: 400;
}
/* 500 Medium */
@font-face {
  font-family: 'Apple-SDG';
  font-style: normal;
  src: url('./assets/fonts/AppleSDGothicNeoM.ttf');
  font-weight: 500;
}
/* 600 Semi Bold */
@font-face {
  font-family: 'Apple-SDG';
  font-style: normal;
  src: url('./assets/fonts/AppleSDGothicNeoSB.ttf');
  font-weight: 600;
}
/* 700 Bold */
@font-face {
  font-family: 'Apple-SDG';
  font-style: normal;
  src: url('./assets/fonts/AppleSDGothicNeoB.ttf');
  font-weight: 700;
}
/* 800 Extra Bold */
@font-face {
  font-family: 'Apple-SDG';
  font-style: normal;
  src: url('./assets/fonts/AppleSDGothicNeoEB.ttf');
  font-weight: 800;
}
/* 900 Heavy */
@font-face {
  font-family: 'Apple-SDG';
  font-style: normal;
  src: url('./assets/fonts/AppleSDGothicNeoH.ttf');
  font-weight: 900;
}

@font-face {
  font-family: 'LINESeedKR';
  font-style: normal;
  src: url('./assets/fonts/LINESeedKR-Th.ttf');
  font-weight: 100;
}

@font-face {
  font-family: 'LINESeedKR';
  font-style: normal;
  src: url('./assets/fonts/LINESeedKR-Rg.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'LINESeedKR';
  font-style: normal;
  src: url('./assets/fonts/LINESeedKR-Bd.ttf');
  font-weight: 700;
}

/* 100 Thin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  src: url('./assets/fonts/Poppins-Thin.ttf');
  font-weight: 100;
}
/* 200 Ulta Light */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  src: url('./assets/fonts/Poppins-ExtraLight.ttf');
  font-weight: 200;
}
/* 300 Light */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  src: url('./assets/fonts/Poppins-Light.ttf');
  font-weight: 300;
}
/* 400 Regular */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  src: url('./assets/fonts/Poppins-Regular.ttf');
  font-weight: 400;
}
/* 500 Medium */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  src: url('./assets/fonts/Poppins-Medium.ttf');
  font-weight: 500;
}
/* 600 Semi Bold */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  src: url('./assets/fonts/Poppins-SemiBold.ttf');
  font-weight: 600;
}
/* 700 Bold */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  src: url('./assets/fonts/Poppins-Bold.ttf');
  font-weight: 700;
}
/* 800 Extra Bold */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  src: url('./assets/fonts/Poppins-ExtraBold.ttf');
  font-weight: 800;
}
/* 900 Heavy */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  src: url('./assets/fonts/Poppins-Black.ttf');
  font-weight: 900;
}
