@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Public Sans';
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
