@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Public Sans';
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

@font-face {
  font-family: 'Apple-SDG';
  font-style: normal;
  src: url('./assets/fonts/AppleSDGothicNeoR.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'Apple-SDG';
  font-style: normal;
  src: url('./assets/fonts/AppleSDGothicNeoL.ttf');
  font-weight: 300;
}
@font-face {
  font-family: 'Apple-SDG';
  font-style: normal;
  src: url('./assets/fonts/AppleSDGothicNeoB.ttf');
  font-weight: 500;
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  src: url('./assets/fonts/Poppins-ExtraLight.ttf');
  font-weight: 200;
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  src: url('./assets/fonts/Poppins-Light.ttf');
  font-weight: 300;
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  src: url('./assets/fonts/Poppins-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  src: url('./assets/fonts/Poppins-Medium.ttf');
  font-weight: 500;
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  src: url('./assets/fonts/Poppins-Bold.ttf');
  font-weight: 700;
}
