name: Cypress E2E Test

on: push

jobs:
  cypress-run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Use Node.js 22.x
        uses: actions/setup-node@v3
        with:
          node-version: '22.x'
      - name: Install pnpm
        run: npm install -g pnpm
      - name: npm ci
        run: PUPPETEER_DOWNLOAD_BASE_URL="https://storage.googleapis.com/chrome-for-testing-public" pnpm install --frozen-lockfile
      - name: Cypress run
        uses: cypress-io/github-action@v6
        env:
          CYPRESS_id: ${{ secrets.TESTING_ID }}
          CYPRESS_pw: ${{ secrets.TESTING_PW }}
          CYPRESS_host: ${{ secrets.TESTING_HOST }}
